# File extensions
#=====================================================================
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~


# OS or Editor folders
#=====================================================================
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
.CVS
.git
.hg
.idea
.svn
.vscode
Thumbs.db
package-lock.json


# Node.JS
#=====================================================================
node_modules
npm-debug.log
bower_components


# Other
#=====================================================================
src
