/*! Styles for page 404
=====================================================================*/
//! Idea from https://www.silocreativo.com/en/creative-examples-404-error-css/

.page404
  min-height: 100%
  padding: $indent--lg * 4 $indent--lg $indent--lg * 2
  text-align: center
  color: $lighterClr
  background-color: $darkerClr  // #416475


  &-nums
    display: flex
    justify-content: center
    margin-bottom: $indent--lg * 2

  &-num
    display: inline-block
    margin: 0 ($indent--lg * 2) $indent--lg
    color: #FFB485
    font-size: 260px
    font-weight: bold
    line-height: 1
    &:nth-of-type(1)
      color: #D1F2A5
      animation: clrDancing 4s infinite
    &:nth-of-type(3)
      color: #F56991
      animation: clrDancing--2 4s infinite

    &:nth-of-type(2)
      position: relative
      &:before,
      &:after
        content: ''
        position: absolute
        top: -60px
        left: -95px
        width: 360px
        height: 360px
        border-radius: 50%
        box-shadow
          inset 30px 0 0 rgba(209, 242, 165, 0.4),
          inset 0 30px 0 rgba(239, 250, 180, 0.4),
          inset -30px 0 0 rgba(255, 196, 140, 0.4),
          inset 0 -30px 0 rgba(245, 105, 145, 0.4)
        animation: shadowsDancing 4.8s infinite
      &:nth-of-type(2):before
        transform: rotate(45deg)

  &-screenReaderTxt
    opacity: 0

  &-txt
    max-width: 700px
    margin: 0 auto $indent--lg * 1.5
    fluidTxtInPx(, 1.5)
  &-link
    display: block
    max-width: 550px
    margin: 0 auto $indent--lg
    padding: $indent
    border: 4px dashed #FFB485
    border-radius: $borderRad
    fluidTxtInPx(, 1)
    color: #FFB485
    text-decoration: none
    &:visited
      color: darken($lighterClr, 30%)
      border-color: darken($lighterClr, 30%)
    &:hover
      color: $lighterClr
      border-color: $lighterClr
      .error-linkSign
        display: inline-block
        transform: translateX(8px)
    &:active
      transform: translateY(6px)



@keyframes shadowsDancing
  0%
    box-shadow:
      inset 30px 0 0 rgba(209, 242, 165, .4),
      inset 0 30px 0 rgba(239, 250, 180, .4),
      inset -30px 0 0 rgba(255, 196, 140, .4),
      inset 0 -30px 0 rgba(245, 105, 145, .4)
  25%
    box-shadow:
      inset 30px 0 0 rgba(245, 105, 145, .4),
      inset 0 30px 0 rgba(209, 242, 165, .4),
      inset -30px 0 0 rgba(239, 250, 180, .4),
      inset 0 -30px 0 rgba(255, 196, 140, .4)
  50%
    box-shadow:
      inset 30px 0 0 rgba(255, 196, 140, .4),
      inset 0 30px 0 rgba(245, 105, 145, .4),
      inset -30px 0 0 rgba(209, 242, 165, .4),
      inset 0 -30px 0 rgba(239, 250, 180, .4)
  75%
    box-shadow:
      inset 30px 0 0 rgba(239, 250, 180, .4),
      inset 0 30px 0 rgba(255, 196, 140, .4),
      inset -30px 0 0 rgba(245, 105, 145, .4),
      inset 0 -30px 0 rgba(209, 242, 165, .4)
  100%
    box-shadow:
      inset 30px 0 0 rgba(209, 242, 165, .4),
      inset 0 30px 0 rgba(239, 250, 180, .4),
      inset -30px 0 0 rgba(255, 196, 140, .4),
      inset 0 -30px 0 rgba(245, 105, 145, .4)

@keyframes clrDancing
  0%
    color: #D1F2A5
  25%
    color: #F56991
  50%
    color: #FFC48C
  75%
    color: #EFFAB4
  100%
    color: #D1F2A5

@keyframes clrDancing--2
  0%
    color: #FFC48C
  25%
    color: #EFFAB4
  50%
    color: #D1F2A5
  75%
    color: #F56991
  100%
    color: #FFC48C
