/*!===================================================================
  Styles for CONTENT
=====================================================================*/
.layoutCenter
  layoutCenter(,, $indent--lg)



/*!===================================================================
  HEADER
=====================================================================*/



/*!===================================================================
  MAIN
=====================================================================*/



/*!===================================================================
  FOOTER
=====================================================================*/
