/*!===================================================================
  GLOBAL Rules
=====================================================================*/
/*! Main part from Reboot.css -
 * https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 * Also nice advices from -
 * https://justmarkup.com/log/2018/03/collection-of-css-snippets/
 */

*, *:before, *:after
  box-sizing: border-box

html, body
  height: 100%
  scroll-behavior: smooth

body
  overflow-x: hidden /*! To hide horizontal scroll from extra margin in row */
  margin: 0
  color: $darkClr
  background-color: $lightClr
  font-family: $defaultFont
  font-size: $fontSize
  font-weight: normal
  line-height: $lineHeight

img
  display: inline-block
  max-width: 100%
  height: auto
  text-align: center
  vertical-align: middle
  word-break: break-all
  color: $lightClr
  background-color: $primaryClr
  // box-shadow: inset 0 0 0 8px $middleClr
  font-size: $fontSize--sm
  font-style: italic
  &::before
    content: 'Картинка (' attr(src) ') не загрузилась: '
    padding-left: $indent--lg
  &::after
    content: ''
    padding-right: $indent--lg

audio, video
  width: 100%

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section
  display: block

ol, ul
  margin-top: 0
  margin-bottom: $indent

ol ol,
ul ul,
ol ul,
ul ol
  margin-bottom: 0

ol li,
ul li
  margin-bottom: $indent--sm

abbr[title]
  cursor: help
  text-decoration: underline
  border-bottom: 0

pre
  overflow: auto
  margin-top: 0
  margin-bottom: $indent

figure
  margin: 0 0 $indent

figcaption
  text-align: center

hr
  margin-bottom: $indent--lg

::selection
  color: #000
  background-color: $primaryClr
  text-shadow: none

$disabled
  cursor: default
  text-decoration: none
  pointer-events: none
  opacity: .7
  color: $disabledClr
  border-color: $disabledClr
  &:hover
    color: $disabledClr
    background-color: $lightClr


/*! Animations
=====================================================================*/
// animation: shake .6s ease
@keyframes shake
  0%, 100%
    transform: translateX(0)
  10%, 30%, 50%, 70%, 90%
    transform: translateX(-10px)
  20%, 40%, 60%, 80%
    transform: translateX(10px)

// animation: swing 1.5s ease-in-out infinite
@keyframes swing
  0%, 100%
    transform: translateY(19px)
  50%
    transform: translateY(4px)


/*! Forms Elements
=====================================================================*/
form
  margin-bottom: $indent--lg

fieldset
  margin: 0 0 $indent
  padding: $indent--sm $indent
  border-radius: $borderRad

legend
  display: block
  margin-bottom: $indent--sm
  color: inherit
  font-size: 1.5rem
  line-height: inherit

label
  display: inline-block
  cursor: pointer

[type='search']
  outline-offset: -2px
  -webkit-appearance: none

select,
[type='radio'],
[type='checkbox'],
[type='color']
  margin-right: $indent--sm
  cursor: pointer

[type='range']
  margin: 0
  cursor: pointer

input[type='file']
  cursor: pointer
  line-height: 1

input, button, select, optgroup, textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit

/*! Buttons */

button,
[type='submit'],
[type='reset'],
[type='button']
  margin-bottom: $indent
  padding: $indent--xs $indent--sm
  cursor: pointer
  color: $darkClr
  border: 1px solid $borderClr
  border-radius: $borderRad
  background-color: $lightClr
  &:hover, &:focus
    color: $lightClr
    background-color: $primaryClr
  &:active
    outline: none
    transform: translateY(4px)
    shadow()

/*! Input fields */

[type='text'],
[type='email'],
[type='password'],
[type='search'],
[type='number'],
[type='tel'],
[type='url'],
textarea,
[type='date'],
[type='time'],
[type='datetime-local'],
[type='month'],
[type='week']
  padding: $indent--xs $indent--sm
  cursor: text
  color: $darkClr
  border: 1px solid $borderClr
  border-radius: $borderRad
  background-color: $lightClr
  phMoveRight()

textarea
  overflow: auto
  width: 100%
  min-height: 150px
  padding: $indent--sm $indent
  resize: vertical

/*! Styles for wrapped in label input fields */

$inputGroup
  row()
  align-items: center
  margin-bottom: $indent--sm
  button, input
    &:not([type='button']),
    &:not([type='submit']),
    &:not([type='reset']),
    &:not([type='file'])
      flex-grow: 1
      min-width: 220px
  label
    order: -1
    min-width: 150px
    margin-right: $indent
  input, textarea
    color: $middleClr
  input[type='radio'],
  input[type='checkbox'],
  input[type='color'],
  select + label
    flex-grow: 0
    min-width: initial
  [type='radio'],
  [type='checkbox']
    & + label
      order: 1
      min-width: initial
  input, textarea
    &:focus
      color: $darkClr

$inputGroup--labelVisible
  position: relative
  row()
  align-items: center
  margin-bottom: $indent--lg
  input, textarea
    width: 100%
    & + label
      position: absolute
      top: - 20px
      left: $indent--sm /*! Must be same that padding left on input */
      transition: opacity .3s ease /*! Must be same that transition on input */
      color: $middleClr
      font-size: $fontSize--sm
  input, textarea
    &:focus + label
      opacity: 1
      color: $darkClr

$inputGroup--labelHidden
  /*! For it's work well input fields must have attribute 'required' */
  position: relative
  row()
  align-items: center
  margin-bottom: $indent--md
  input, textarea
    width: 100%
    & + label
      position: absolute
      top: - 20px
      left: $indent--sm /*! Must be same that padding left on input */
      transition: opacity .3s ease /*! Must be same that transition on input */
      opacity: 0
      color: $middleClr
      font-size: $fontSize--sm
  input, textarea
    &:focus + label
      opacity: 1
      color: $darkClr

/*! Styles for iteraction with inputs and links.
 * Must be placed below rules for inputs and on top of links.
 */

.disabled,
[disabled],
[disabled] + span
  @extend $disabled
label.disabled
  background-color: initial

.formError
  animation: shake .6s ease
.fieldValid
  box-shadow: 0 0 0 2px $validClr
.fieldError
  box-shadow: 0 0 0 2px $errorClr


/*! Links and Buttons
=====================================================================*/
a
  display: inline-block
  cursor: pointer
  color: $accentClr
  &:visited
    color: darken($accentClr, 40%)
    &.disabled
      @extend $disabled
  &:hover
    color: $primaryClr
  &:active
    outline: none
    transform: translateY(4px)
    text-shadow: 0 6px 6px rgba($darkClr, .23)
  &.disabled
    @extend $disabled
    text-decoration: underline


/*! Tables
=====================================================================*/
table
  width: 100%
  border-collapse: collapse
tr
  &:nth-child(odd)
    background-color: lighten($lighterClr, 50%)
th, td
  padding: $indent--sm $indent
  border: 1px solid $lighterClr
th
  color: $lightClr
  background-color: $primaryClr


/*! Components
=====================================================================*/
.scrollBtn
  scrollBtn()

.noscript
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 50px
  color: $lighterClr
  background-color: rgba($darkerClr, .9)
  shadow()
  &-wrap
    layoutCenter()
    padding: $indent--sm
    text-align: center
  &-link
    color: #007bff
    &:hover
      text-decoration: none
