/*!===================================================================
  Styles for Preview of boilerplate
=====================================================================*/

body
  background-color: $lighterClr

.layoutCenter
  margin-top: $indent--lg
  margin-bottom: $indent--lg * 1.5
  padding-bottom: $indent--lg
  border-radius: $borderRad
  background-color: $lightClr
  shadow()

section
  margin-bottom: $indent--lg * 1.5
article
  margin-bottom: $indent--lg

bgPrlx('https://monosnap.com/image/xDyAdvobNI1N0pY2JcZlZnxkb2LMwR')

.title
  position: fixed
  z-index: 5
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  animation: hideBg 2s 4s linear forwards
  background-color: rgba($darkClr, .7)

  &-txt
    animation: slide-right 4s 1.5s cubic-bezier(.215, .610, .355, 1.000) forwards
    text-shadow:
      0 -5px 0 #7FDBFF,
      0 -10px 0 #39CCCC,
      0 -15px 0 #3D9970,
      0 -20px 0 #2ECC40,
      0 -25px 0 #01FF70,
      0 -30px 0 #FFDC00,
      0 -35px 0 #FF851B,
      0 -40px 0 #FF4136,
      0 -45px 0 #F012BE,
      0 -50px 0 #B10DC9
    fluidTxtInPx(60px, 20)

@keyframes slide-right
  0%
    transform: skewX(0deg)
  10%
    transform: skewX(20deg) translateX(-50px)
  100%
    transform: translateX(200%)

@keyframes hideBg
  0%
    opacity: 1
  100%
    top: -2000px
    opacity: 0


$header
  display: flex
  justify-content: center
  align-items: center
  height: 400px
  outOf()
  background-color: $lighterClr

$caption
  margin-bottom: $indent
  padding: $indent--sm $indent
  text-align: center
  color: $lighterClr
  background-color: $darkerClr

$caption--styled
  margin-right: $indent
  margin-left: $indent
  padding: $indent $indent--lg
  border: 6px solid $lighterClr
  border-radius: $borderRad
  background-color: rgba(0, 0, 0, .6)
  letter-spacing: 8px
  color: $lightClr
  word-break: keep-all
  text-transform: uppercase
  fluidTxtInRem(, 2)

.slogan
  @extend $caption
  margin-right: -($indent--lg)
  margin-left: -($indent--lg)
  padding-top: $indent--lg
  padding-bottom: $indent--lg
  border-top-left-radius: $borderRad
  border-top-right-radius: $borderRad
  font-size: $fontSize--xl
  font-weight: bold


//! Section TEXT
.text
  &-header
    @extend $header
    background-image: url('https://monosnap.com/image/Hc3wZ7kqvNHJVBPUoaiY73eFP2LJMw')
  &-h1
    @extend $caption--styled
  &-h2
    @extend $caption
  &-truncated
    truncated()
  &-size--1
    font-size: $fontSize--xl
  &-size--2
    font-size: $fontSize--lg
  &-size--3
    font-size: $fontSize--md
  &-size--4
    font-size: $fontSize--sm
  &-size--5
    font-size: $fontSize--xs
  &-innerWrap
    row-0()
  &-lists, &-inline
    col(6)
    min-width: 250px
    flex-grow: 1
  &-link
    underline($accentClr, $primaryClr)


//! Section FORMS
.forms
  &-header
    @extend $header
    background-image: url('https://monosnap.com/image/7oFsRFwGOLRAWZ26udJQVOA1J7pLW4')
  &-h1
    @extend $caption--styled
  &-h2
    @extend $caption
  &-requiredTxt
    margin-bottom: $indent
    color: $middleClr
  &-inputsGroup
    @extend $inputGroup--labelVisible
  &-selectGroup,
  &-checkboxGroup,
  &-radioGroup,
  &-html5InputsGroup
    @extend $inputGroup
  &-action
    margin-bottom: $indent--lg
  &-groupTitle
    &::before
      content: '*'
      margin-right: $indent--sm
  &-helpTxt
    width: 100%
    height: 0
    transition: all .6s ease
    text-align: center
    opacity: 0
    color: $middleClr
    font-size: $fontSize--sm
  &-actionGroup
    row()
    justify-content: space-around

  &-inputsGroup input,
  &-html5InputsGroup input
    &:focus ~ .forms-helpTxt
      height: auto
      opacity: 1

  &-actionBtns
    display: flex
  &-btn
    flex-grow: 1
    margin: 0 $indent--sm $indent
    padding: $indent--xs $indent--sm
    cursor: pointer
    color: $darkClr
    border: 1px solid $borderClr
    border-radius: $borderRad
    background-color: $lightClr
    &:hover
      color: $lightClr
      background-color: $primaryClr
    &:active
      outline: none
      transform: translateY(4px)
      shadow()
    &:focus
      outline: none
    &--reset
      background-color: $lighterClr
      &:hover
        background-color: lighten(red, 35%)


//! Section GRID
.grid
  &-innerWrap
    overflow-x: auto
    gridTest()
  &-header
    @extend $header
    background-image: url('https://monosnap.com/image/WmqiwrBdYXwkcofOuiPp88gL1a91th')
  &-h1
    @extend $caption--styled
  &-h2
    @extend $caption
  &-row
    row()
  &-row > *
    text-align: center
    border: 1px solid
    border-radius: $borderRad
    background-color: rgba(0,0,0, .3)
  //! Columns
  for num in(1..4)
    &-row--{num} > *
      col(num)
  &-row--5 > *
    col(6)
  &-row--6 > *
    col(12)
  //! Offsets
  for num in (1..11)
    &-offset--{num}
      col(12 - num)
      offset(num)


//! Section EMBEDDED
.embedded
  &-header
    @extend $header
    background-image: url('https://monosnap.com/image/HrfN4chtfzFNuk9VkmupiXatWIpMTE')
  &-h1
    @extend $caption--styled
  &-h2
    @extend $caption
  &-figureWrap, &-rest
    row-0()
  &-figureWrap > *
    col(6)
    min-width: 250px
    flex-grow: 1
  &-rest > *
    col(4)
    min-width: 250px
    flex-grow: 1
