doctype html
html(lang='ru')
  head
    block title
      title Pognali
    meta(charset='utf-8')
    meta(name='description' content='A description of the page 150 chars')
    meta(name='keywords' content='your,keywords,here,comma,separated,no,spaces')
    meta(name='theme-color' content='#000')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    base(href='./')
    link(rel='icon' href='images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='images/favicon.png' size='any' type='image/png')
    link(rel='mask-icon' href='images/safari-pinned-tab.svg' color='#5bbad5')
    // Inlined Critical Styles
    style.
    noscript
      link(rel="stylesheet" href="styles/styles.css")


  body
    noscript.noscript
      div.noscript-wrap Для полной функциональности этого сайта необходимо включить JavaScript. Вот <a class="noscript-link" href="https://www.enable-javascript.com/ru/" target="_blank"> инструкции, как включить JavaScript в вашем браузере</a>.


    block content


    // Adds styles later for non render blocking
    script.
      var head = document.querySelector('head');
      head.insertAdjacentHTML('beforeEnd', '<link rel="stylesheet" href="styles/styles.css">');

    // For debugging scripts with console.log
    script
      include ../../../node_modules/notification-logger/notification-logger.min.js
      | logger.init();

    // Polyfills and other scripts essentials here
    script(src='scripts/bundle.js')
