doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    block title
      title Pognali
    meta(name='description' content='A description of the page 150 chars')
    meta(name='keywords' content='your,keywords,here,comma,separated,no,spaces')
    meta(name='theme-color' content='#282E34')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    base(href='./')
    link(rel='icon' href='images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='images/favicon.png' size='any' type='image/png')
    link(rel='mask-icon' href='images/safari-pinned-tab.svg' color='#5bbad5')
    // Inlined Critical Styles
    style.
      .title {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        animation: hideBg 2s 4s linear forwards;
        background-color: rgba(0,0,0, .7);
      }
      .title-txt {
        animation: slide-right 4s 1.5s cubic-bezier(.215, .610, .355, 1.000) forwards;
        text-shadow:
          0 -5px 0 #7FDBFF,
          0 -10px 0 #39CCCC,
          0 -15px 0 #3D9970,
          0 -20px 0 #2ECC40,
          0 -25px 0 #01FF70,
          0 -30px 0 #FFDC00,
          0 -35px 0 #FF851B,
          0 -40px 0 #FF4136,
          0 -45px 0 #F012BE,
          0 -50px 0 #B10DC9;
        font-size: 6rem;
        font-size: calc(6rem + 6 * ((100vw - 20rem) / 80));
      }
      @keyframes slide-right {
        0% {transform: skewX(0deg); }
        10% { transform: skewX(20deg) translateX(-50px); }
        100% { transform: translateX(200%); }
      }
      @keyframes hideBg {
        0% { opacity: 1; }
        100% { top: -2000px; opacity: 0; }
      }
    noscript
      link(rel="stylesheet" href="styles/styles.css")
    // Pixel Glass (For development purposes only)
    style.
      html {
        background-repeat: no-repeat;
        background-position:  50% 0;
        background-image: url('images/pixelPerf/mobile.png');
      }
      /* Tablet */
      @media (min-width: 768px) {
        html { background-image: url('images/pixelPerf/tablet.png'); }
      }
      /* Desktop */
      @media (min-width: 992px) {
        html { background-image: url('images/pixelPerf/desktop.png'); }
      }
    style
      include ../../../node_modules/pixel-glass/styles.css
    script
      include ../../../node_modules/pixel-glass/script.js
    // Pixel Glass


  body
    noscript.noscript
      .noscript-wrap Для полной функциональности этого сайта необходимо включить JavaScript. Вот <a class="noscript-link" href="https://www.enable-javascript.com/ru/" target="_blank"> инструкции, как включить JavaScript в вашем браузере</a>.


    include ../../../build/images/sprite-symbols.svg


    block content


    +scrollBtn

    // Adds styles later for non render blocking
    script.
      var head = document.querySelector('head');
      head.insertAdjacentHTML('beforeEnd', '<link rel="stylesheet" href="styles/styles.css">');

    // Polyfills and other scripts essentials here
    script(src='scripts/bundle.js' defer)
