doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    block title
      title Pognali
    meta(name='description' content='A description of the page 150 chars')
    meta(name='keywords' content='your,keywords,here,comma,separated,no,spaces')
    meta(name='theme-color' content='#282e34')
    meta(name='google' content='notranslate')
    meta(name="robots" content="noindex, nofollow, noarchive, nosnippet, noimageindex")
    //- link(rel="me" href="http://your-site.com" type="text/html")
    //- link(rel="author" href="humans.txt")
    base(href='/')
    link(rel='icon' href='images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='images/favicon.png' sizes='any' type='image/png')
    link(rel='mask-icon' href='images/safari-pinned-tab.svg' color='#5bbad5')
    // Critical Styles
    style
      block critical
    noscript
      link(rel="stylesheet" type="text/css" href="styles/styles.min.css")
    //- // Pixel Glass (For development purposes only)
    //- style.
      html {
        background-repeat: no-repeat;
        background-position:  50% 0;
        background-image: url('preview/mobile.png');
      }
      /* Tablet */
      @media (min-width: 768px) {
        html { background-image: url('preview/tablet.png'); }
      }
      /* Desktop */
      @media (min-width: 992px) {
        html { background-image: url('preview/desktop.png'); }
      }
    //- style
      include ../../../node_modules/pixel-glass/styles.css
    //- script
      include ../../../node_modules/pixel-glass/script.js
    //- // Pixel Glass


  body
    noscript.noscript
      .noscript-content Для полной функциональности этого сайта необходимо включить JavaScript. Вот <a class="noscript-link" href="https://www.enable-javascript.com/ru/" target="_blank" rel="noopener noreferrer"> инструкции, как включить JavaScript в вашем браузере</a>.


    include ../../../build/images/sprite-symbols.svg


    block content


    +scrollBtn


    +modal


    // Adds styles later for non render blocking
    script.
      var head = document.querySelector('head');
      head.insertAdjacentHTML('beforeEnd', '<link rel="stylesheet" type="text/css" href="styles/styles.css">');

    // Polyfills and other scripts essentials here
    script(src='scripts/bundle.js' defer)
