/*!===================================================================
  MEDIA QUERRIES
=====================================================================*/

@media screen and (max-width: $screen--md)
  body
    fluidTxtInPx(14px, .375)
    line-height: 1.25

  fluidTable()
