/*!===================================================================
  MEDIA QUERRIES
=====================================================================*/

/*! DESKTOP devices
=====================================================================*/
@media screen and (min-width: $screen--md)
  /*! Removing actions on links with phone number */
  a[data-phone]
    cursor: default
    text-decoration: none
    color: $accentClr
    &:visited, &:hover
      color: $accentClr
    &:active
      transform: none
      text-shadow: none


/*! TABLET devices
=====================================================================*/


/*! MOBILE devices
=====================================================================*/
@media screen and (max-width: $screen--md)
  body
    fluidTxtInPx($fontSize--sm, .375)
    line-height: 1.25

  fluidTable()
