/*===================================================================
  Используемый стиль методологии BEM-naming
=====================================================================
Стиль без подчеркиваний blockName-elemName--modName--modVal
— Для записи имен используется CamelCase.
— Имя элемента отделяется от имени блока с помощью одного дефиса (-).
— Для отделения модификатора используется два дефиса (--).
— Значение модификатора отделяется от его имени с помощью двух дефисов (--).
===================================================================*/


//===================================================================
// VARS
//=====================================================================

// Basic colors
$blue = #007bff
$indigo = #6610f2
$purple = #6f42c1
$pink = #e83e8c
$red = #dc3545
$orange = #fd7e14
$yellow = #ffc107
$green = #28a745
$teal = #20c997
$cyan = #17a2b8
$white = #fff
$black = #000
$grey = #9babb4

// Colors applied for content
$primaryClr = $blue
$secondaryClr = $red
$accentClr = $yellow

$lightClr = $white
// $lighterClr = #e9ecef
$lighterClr = #ddd
$middleClr = $grey
// $darkerClr = #212529
$darkerClr = #282E34
$darkClr = $black

// Colors for text elements
$bodyBg = $white
$textClr = $black
$headingClr = $black
$subHeadingClr = $black
$borderClr = $grey
$borderRad = 6px

// Colors for links
$linkClr = $accentClr

// Colors for buttons
$btnClr = $black
$btnBg = $white
$btnBordClr = $borderClr
$btnBordRad = $borderRad

// Colors for inputs
$inputClr = $black
$inputBg = $white
$inputBordClr = $borderClr
$inputBordRad = $borderRad

// Colors for iteraction
$validClr = $green
$errorClr = $red
$disabledClr = $grey





//===================================================================
//  IMPORTS
//=====================================================================
@import 'common/mix'
@import 'common/layout'
@import 'common/typography'
@import 'content/index'
@import 'content/404'
@import 'content/preview'
@import 'querries'
