fluidTable()
  //! Responsive tables
  table
    thead, tbody, tfoot, tr, th, td, caption
      display: block
    tr
      margin-bottom: $indent
      &:nth-child(odd)
        background-color: unset
    th
      display: none
    td
      position: relative
      margin-top: -1px
      padding-left: 37%
      fluidTxtInRem(.75rem, .5)

      &:nth-child(odd)
        background-color: lighten($lighterClr, 50%)

      &::before
        content: attr(data-label)
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center
        width: 35%
        height: 100%
        padding: 0 $indent--xs
        background-color: $primaryClr
        text-align: center
        color: $lightClr
        font-weight: bold
        line-height: 1

/*===================================================================*/

outOf()
  margin-right: calc(-50vw + 50%)
  margin-left: calc(-50vw + 50%)

/*===================================================================*/

bgPrlx($url)
  .bgPrlx, .bgPrlx--single::before
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center
    background-size: cover

  .bgPrlx--single::before
    content: ''
    position: fixed
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url($url)

/*===================================================================*/

imgFluid()
  width: 100%
  height: auto

/*===================================================================*/

videoFluid()
  position: relative
  overflow: hidden
  width: 100%
  height: 0
  margin-bottom: $indent
  // Preserve aspect ratio from source 16/9 => 9/16=0.5625 or '100 / (w / h)'
  padding-bottom: 56.25%
  background-color: $primaryClr

  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

/*===================================================================*/

hidden()
  position: absolute
  top: -9999px
  left: -9999px
  overflow: hidden
  width: 0
  height: 0
  opacity: 0

/*===================================================================*/

clearfix()
  &::after
    content: ''
    display: table
    clear: both



/*===================================================================
  EFFECTS
=====================================================================*/
phWithOpacity()
  &::-webkit-input-placeholder
    transition: opacity .3s ease
    opacity: 1

  &:focus::-webkit-input-placeholder
    transition: opacity .3s ease
    opacity: 0

phMoveRight()
  &::-webkit-input-placeholder
    transition: all .3s ease
    text-indent: 0
    opacity: 1

  &:focus::-webkit-input-placeholder
    transition: all .5s ease
    text-indent: 200%
    opacity: 0

phMoveDown()
  &::-webkit-input-placeholder
    transition: line-height .5s ease
    line-height: 20px

  &:focus::-webkit-input-placeholder
    transition: line-height .5s ease
    line-height: 100px

/*===================================================================*/

// animation: radialPulse 1s infinite
pulse()
  @keyframes radialPulse
    0%
      box-shadow: 0 0 0 0px rgba(0, 0, 0, .5)
    100%
      box-shadow: 0 0 0 30px rgba(0, 0, 0, 0)

/*===================================================================*/

onActive()
  &:focus-within
    box-shadow: 0 .2em 2.5em #c4c4c4
    transform: scale(1.025)

/*===================================================================*/

shadow()
  box-shadow:
    0 10px 20px rgba($darkClr, .19),
    0 6px 6px rgba($darkClr, .23)

/*===================================================================*/

// To use it add class .link and some modificator
underline($clr, $hoverClr)
  position: relative
  transition: all .6s
  text-decoration: none
  &:before
    content: ''
    position: absolute
    bottom: 0
    width: 0
    height: 2px
    transition: all .3s
    background: $clr
  &:hover:before
    width: 100%
    background: $hoverClr
  &--toRight
    &:before
      left: 0
    &:hover:before
      left: 0
  &--center
    &:before
      left: 50%
    &:hover:before
      left: 0
  &--toLeft
    &:before
      right: 0
    &:hover:before
      right: 0
  &--through
    &:before
      right: 0
    &:hover:before
      left: 0
