extends common/start
include common/mix

.title 
  .title-txt Страница не найдена


block content
  .page404
    div.page404-nums
      span.page404-num 4
      span.page404-num
        span.page404-screenReaderTxt 0
      span.page404-num 4
    div
      div.page404-txt К сожалению, данная страница отсутствует.
      a.page404-link(href="#") Вернуться на главную 
          span.page404-linkSign &rarr;
