extends common/start
include common/mix

.title 
  .title-txt Страница не найдена


block content
  // someURL
  
  .error
    div.error-nums
      span.error-num 4
      span.error-num
        span.error-screenReaderTxt 0
      span.error-num 4
    div
      div.error-txt К сожалению, данная страница отсутствует.
      a.error-link(href="#") Вернуться на главную 
          span.error-linkSign &rarr;
